# Essential Functions

In [1]:
561*0.15

84.14999999999999

In [2]:
round(561*0.15,2)

84.15

In [3]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [4]:
favorite_number = input("What’s your favorite number? ")

What’s your favorite number? 6

In [5]:
favorite_number

'6'

# Data Type Functions

In [6]:
salary=input("What are your annual earnings? ")

What are your annual earnings? 7787478

In [7]:
type(salary)

str

In [8]:
salary=int(salary)
type(salary)

int

In [9]:
tax_paid = salary*0.2
print("You paid $" + str(tax_paid) + " in tax this year.")

You paid $1557495.6 in tax this year.

# List Aggregation Functions After

In [10]:
scores = [45,67,51,74,81,24,65,90,51,62]

print(min(scores))
print(max(scores))
print(len(scores))

print(sum(scores)/len(scores))

24
90
10
61.0

# List Manipulation Functions After

In [11]:
scores = [69,77,81,74,85,94,65,90,51,62]

In [12]:
scores.append(75)
scores

[69, 77, 81, 74, 85, 94, 65, 90, 51, 62, 75]

In [13]:
scores.sort(reverse=True)
scores

[94, 90, 85, 81, 77, 75, 74, 69, 65, 62, 51]

In [14]:
scores.insert(7,73)
scores

[94, 90, 85, 81, 77, 75, 74, 73, 69, 65, 62, 51]

In [15]:
scores.pop(1)

90

In [16]:
scores

[94, 85, 81, 77, 75, 74, 73, 69, 65, 62, 51]

# Creating Custom Functions

In [17]:
liabilities=-425484.15
equity=1147856.69

assets=liabilities+equity
assets

722372.5399999999

In [18]:
def acc_equation(liabilities,equity):
    assets=liabilities+equity
    return assets

In [19]:
acc_equation(-425484.15,1147856.69)

722372.5399999999

# Creating Custom Libraries

In [ ]:
import accounting_functions as af

af.net_income(100,10)

# If Statements

In [21]:
lower_rate=.2
middle_rate=.4
highest_rate=0.5
middle_cut_off=50000
cut_off=100000
salary=float(input("What is your gross income? "))

if salary<middle_cut_off:
    print("You paid $"+str(salary*lower_rate)+" in tax.")
elif salary<cut_off:
    print("You paid $"+str((middle_cut_off*lower_rate)+((salary-middle_cut_off)*middle_rate))+" in tax.")
else:
    print("You paid $"+
          str((middle_cut_off*lower_rate)+((cut_off-middle_cut_off)*middle_rate)+((salary-cut_off)*highest_rate))+
          " in tax.")

What is your gross income? 757578
You paid $358789.0 in tax.

# Conditional Operators

In [22]:
lower_rate=.2
middle_rate=.4
highest_rate=0.5
middle_cut_off=50000
cut_off=100000
salary=float(input("What is your gross income? "))
retiree=input("Are you a retiree? y/n ")
self_employed=input("Are you self employed ? y/n ")

if salary<middle_cut_off:
    print("You paid $"+str(salary*lower_rate)+" in tax.")
elif salary<cut_off and (retiree=="y" or self_employed=="y"):
    print("You paid $"+str(salary*lower_rate)+" in tax.")
elif salary<cut_off:
    print("You paid $"+str((middle_cut_off*lower_rate)+((salary-middle_cut_off)*middle_rate))+" in tax.")
else:
    print("You paid $"+
          str((middle_cut_off*lower_rate)+((cut_off-middle_cut_off)*middle_rate)+((salary-cut_off)*highest_rate))+
          " in tax.")

What is your gross income? 8794387943
Are you a retiree? y/n y
Are you self employed ? y/n y
You paid $4397173971.5 in tax.

# For Loops

In [23]:
lower_rate=.2
middle_rate=.4
highest_rate=0.5
middle_cut_off=50000
cut_off=100000
salaries_list  = [120000,23000,45000,51000,23000,76000,35000,64000,32000,25000]

for salary in salaries_list :
    if salary<middle_cut_off:
        print("You paid $"+str(salary*lower_rate)+" in tax.")
    elif salary<cut_off:
        print("You paid $"+str((middle_cut_off*lower_rate)+((salary-middle_cut_off)*middle_rate))+" in tax.")
    else:
        print("You paid $"+
              str((middle_cut_off*lower_rate)+((cut_off-middle_cut_off)*middle_rate)+((salary-cut_off)*highest_rate))+
              " in tax.")

You paid $40000.0 in tax.
You paid $4600.0 in tax.
You paid $9000.0 in tax.
You paid $10400.0 in tax.
You paid $4600.0 in tax.
You paid $20400.0 in tax.
You paid $7000.0 in tax.
You paid $15600.0 in tax.
You paid $6400.0 in tax.
You paid $5000.0 in tax.

# While Loops

In [24]:
principal=10000
rate=0.05
years=30
current_year=1

while current_year<=years:
    investment_value=round(principal*(1+rate)**current_year,2)
    print("Year " + str(current_year))
    print("$" + str(investment_value))
    print()
    current_year+=1

Year 1
$10500.0

Year 2
$11025.0

Year 3
$11576.25

Year 4
$12155.06

Year 5
$12762.82

Year 6
$13400.96

Year 7
$14071.0

Year 8
$14774.55

Year 9
$15513.28

Year 10
$16288.95

Year 11
$17103.39

Year 12
$17958.56

Year 13
$18856.49

Year 14
$19799.32

Year 15
$20789.28

Year 16
$21828.75

Year 17
$22920.18

Year 18
$24066.19

Year 19
$25269.5

Year 20
$26532.98

Year 21
$27859.63

Year 22
$29252.61

Year 23
$30715.24

Year 24
$32251.0

Year 25
$33863.55

Year 26
$35556.73

Year 27
$37334.56

Year 28
$39201.29

Year 29
$41161.36

Year 30
$43219.42