# Basic Calculations in Python

In [1]:
5+3+7+9

24

In [2]:
12-3-7-1

1

In [3]:
7*8

56

In [4]:
55/4

13.75

In [5]:
55//4

13

In [6]:
55%4

3

In [7]:
7**8

5764801

# Exploring Data Types

In [8]:
#Numeric
123
123.3

#Boolean
True
False

#String
"Python"
"We're going to need a bigger boat"
'"Knowledge is power" - Francis Bacon'
'String 1 and ' + 'string 2.'

'String 1 and string 2.'

# Understanding the Print Function

In [9]:
#Numeric
print(123)
print(123.3)
print()

#Boolean
print(True)
print(False)
print()

#String
print("Python")
print("We're going to need a bigger boat")
print('"Knowledge is power" - Francis Bacon')
print('String 1 and ' + 'string 2.')
print()
print("First line.\n\tSecond line.\n\t\tThird line.")

123
123.3

True
False

Python
We're going to need a bigger boat
"Knowledge is power" - Francis Bacon
String 1 and string 2.

First line.
	Second line.
		Third line.

# Storing Information in Variables After

In [10]:
my_first_variable = 57

In [11]:
my_first_variable

57

In [12]:
100-my_first_variable

43

In [13]:
#Compound Interest after 5 years
print('5 years:')
print(1000*(1+0.05)**5)
print()

#Compound Interest after 10 years
print('10 years:')
print(1000*(1+0.05)**10)
print()

#Compound Interest after 15 years
print('15 years:')
print(1000*(1+0.05)**15)
print()

#Compound Interest after 20 years
print('20 years:')
print(1000*(1+0.05)**20)
print()

#Compound Interest after 25 years
print('25 years:')
print(1000*(1+0.05)**25)

5 years:
1276.2815625000003

10 years:
1628.894626777442

15 years:
2078.9281794113685

20 years:
2653.2977051444223

25 years:
3386.3549408993886

In [14]:
principal=10000
rate=0.05

#Compound Interest after 5 years
print('5 years:')
print(principal*(1+rate)**5)
print()

#Compound Interest after 10 years
print('10 years:')
print(principal*(1+rate)**10)
print()

#Compound Interest after 15 years
print('15 years:')
print(principal*(1+rate)**15)
print()

#Compound Interest after 20 years
print('20 years:')
print(principal*(1+rate)**20)
print()

#Compound Interest after 25 years
print('25 years:')
print(principal*(1+rate)**25)

5 years:
12762.815625000003

10 years:
16288.94626777442

15 years:
20789.28179411369

20 years:
26532.97705144422

25 years:
33863.54940899389

# Storing Data in Lists

In [15]:
jan_avg_temp = 11.6
feb_avg_temp = 11.9
mar_avg_temp = 13.8
apr_avg_temp = 16.2
may_avg_temp = 20.2
jun_avg_temp = 24.3
jul_avg_temp = 27.2
aug_avg_temp = 27.7
sep_avg_temp = 24.7
oct_avg_temp = 21.1
nov_avg_temp = 16.3
dec_avg_temp = 12.8

In [16]:
avg_temp = [11.6,11.9,13.8,
            16.2,20.2,24.3,
            27.2,27.7,24.7,
            21.1,16.3,12.8]

In [17]:
avg_temp[6:]

[27.2, 27.7, 24.7, 21.1, 16.3, 12.8]

# Storing Paired Values in Dictionaries

In [18]:
jan_avg_temp = 11.6
feb_avg_temp = 11.9
mar_avg_temp = 13.8
apr_avg_temp = 16.2
may_avg_temp = 20.2
jun_avg_temp = 24.3
jul_avg_temp = 27.2
aug_avg_temp = 27.7
sep_avg_temp = 24.7
oct_avg_temp = 21.1
nov_avg_temp = 16.3
dec_avg_temp = 12.8

In [19]:
avg_temp = [11.6,11.9,13.8,
            16.2,20.2,24.3,
            27.2,27.7,24.7,
            21.1,16.3,12.8]

In [20]:
avg_temp[6:]

[27.2, 27.7, 24.7, 21.1, 16.3, 12.8]

In [21]:
tunis_temp = {'January':11.6,'February':11.9,'March':13.8,
                 'April':16.2,'May':20.2,'June':24.3,
                 'Juky':27.2,'August':27.7,'September':24.7,
                 'October':21.1,'November':16.3,'December':12.8}

In [22]:
tunis_temp['March']

13.8

In [23]:
tunis_temp['Annual'] = 19.0
tunis_temp

{'January': 11.6,
 'February': 11.9,
 'March': 13.8,
 'April': 16.2,
 'May': 20.2,
 'June': 24.3,
 'Juky': 27.2,
 'August': 27.7,
 'September': 24.7,
 'October': 21.1,
 'November': 16.3,
 'December': 12.8,
 'Annual': 19.0}

In [24]:
del(tunis_temp['Annual'])
tunis_temp

{'January': 11.6,
 'February': 11.9,
 'March': 13.8,
 'April': 16.2,
 'May': 20.2,
 'June': 24.3,
 'Juky': 27.2,
 'August': 27.7,
 'September': 24.7,
 'October': 21.1,
 'November': 16.3,
 'December': 12.8}