# 1. Fetch Cuisine's sluggish data prep

In [1]:
from urllib.request import urlretrieve
import pandas as pd

madden_url = "https://ac-101708228-virtuoso-prod.s3.amazonaws.com/uploads/download/112/Madden_s_Dairy.csv"
nell_url = "https://ac-101708228-virtuoso-prod.s3.amazonaws.com/uploads/download/113/Nell_s_Soups_and_Stocks.csv"
clerkin_url = "https://ac-101708228-virtuoso-prod.s3.amazonaws.com/uploads/download/114/Clerkin_Nuts_and_Grains.csv"
mahon_url = "https://ac-101708228-virtuoso-prod.s3.amazonaws.com/uploads/download/115/Mahon_Produce.csv"
nutley_url = "https://ac-101708228-virtuoso-prod.s3.amazonaws.com/uploads/download/116/Nutley_Fish_and_Seafood.csv"
foley_url = "https://ac-101708228-virtuoso-prod.s3.amazonaws.com/uploads/download/117/Foley_s_Butchers.csv"
tolsco_url = "https://ac-101708228-virtuoso-prod.s3.amazonaws.com/uploads/download/118/Tolsco_Foods.csv"

# 2. Connect to and merge online nutrional data

In [2]:
urlretrieve(madden_url, "Madden_s_Dairy.csv")
urlretrieve(nell_url, "Nell_s_Soups_and_Stocks.csv")
urlretrieve(clerkin_url, "Clerkin_Nuts_and_Grains.csv")
urlretrieve(mahon_url, "Mahon_Produce.csv")
urlretrieve(nutley_url, "Nutley_Fish_and_Seafood.csv")
urlretrieve(foley_url, "Foley_s_Butchers.csv")
urlretrieve(tolsco_url, "Tolsco_Foods.csv")

madden = pd.read_csv("Madden_s_Dairy.csv",)
nell = pd.read_csv("Nell_s_Soups_and_Stocks.csv")
clerkin = pd.read_csv("Clerkin_Nuts_and_Grains.csv")
mahon = pd.read_csv("Mahon_Produce.csv")
nutley = pd.read_csv("Nutley_Fish_and_Seafood.csv")
foley = pd.read_csv("Foley_s_Butchers.csv")
tolsco = pd.read_csv("Tolsco_Foods.csv")

food=pd.concat([madden,nell,clerkin,mahon,nutley,foley,tolsco])
food.reset_index(inplace=True,drop=True)
food

,Food,Food Type,Calories,Grams,Protein,Fat,Fiber,Carbs
0,Cows' milk,Dairy,kcal:680,g:120,32.0,40.0,0.0,48.0
1,Milk skim,Dairy,kcal:352,g:88,36.0,0.0,0.0,52.0
2,Buttermilk,Dairy,kcal:133,g:27,9.0,5.0,0.0,13.0
3,"Evaporated, undiluted",Dairy,kcal:340,g:60,16.0,20.0,0.0,24.0
4,Fortified milk,Dairy,kcal:1215.6,g:251.4,89.0,42.0,1.4,119.0
...,...,...,...,...,...,...,...,...
239,Lard,Oils & Fats,kcal:990,g:1100,0.0,110.0,0.0,0.0
240,"Margarine, 2 pat or",Oils & Fats,kcal:99,g:11,0.0,11.0,0.0,0.0
241,Corn oil,Oils & Fats,kcal:126,g:14,0.0,14.0,0.0,0.0
242,Olive oil,Oil & Fats,kcal:126,g:14,0.0,14.0,0.0,0.0
243,Safflower seed oil,Oils & Fats,kcal:126,g:14,0.0,14.0,0.0,0.0

In [3]:
food["Protein"].sum()

1930.0

# 3. Address data type errors

In [4]:
food["Grams"]=food["Grams"].str.strip("g:").astype("float64")
food["Calories"]=food["Calories"].str.strip("kcal:").astype("float64")
food.head()

,Food,Food Type,Calories,Grams,Protein,Fat,Fiber,Carbs
0,Cows' milk,Dairy,680.0,120.0,32.0,40.0,0.0,48.0
1,Milk skim,Dairy,352.0,88.0,36.0,0.0,0.0,52.0
2,Buttermilk,Dairy,133.0,27.0,9.0,5.0,0.0,13.0
3,"Evaporated, undiluted",Dairy,340.0,60.0,16.0,20.0,0.0,24.0
4,Fortified milk,Dairy,1215.6,251.4,89.0,42.0,1.4,119.0

In [5]:
print(food["Grams"].sum())
print(food["Calories"].sum())

10584.91
45035.44

# 4. Fix data range errors

In [6]:
food[food["Grams"]>1000]

     Food    Food Type  Calories   Grams  Protein    Fat  Fiber  Carbs
239  Lard  Oils & Fats     990.0  1100.0      0.0  110.0    0.0    0.0

In [7]:
food[food["Grams"]<0]

Empty DataFrame
Columns: [Food, Food Type, Calories, Grams, Protein, Fat, Fiber, Carbs]
Index: []

In [8]:
food.loc[239,"Grams"]=110

In [9]:
food[food["Calories"]>1500]

Empty DataFrame
Columns: [Food, Food Type, Calories, Grams, Protein, Fat, Fiber, Carbs]
Index: []

In [10]:
food[food["Calories"]<0]

Empty DataFrame
Columns: [Food, Food Type, Calories, Grams, Protein, Fat, Fiber, Carbs]
Index: []

In [11]:
food[food["Grams"]>1500]

Empty DataFrame
Columns: [Food, Food Type, Calories, Grams, Protein, Fat, Fiber, Carbs]
Index: []

In [12]:
food[food["Grams"]<0]

Empty DataFrame
Columns: [Food, Food Type, Calories, Grams, Protein, Fat, Fiber, Carbs]
Index: []

In [13]:
food[food["Protein"]>250]

Empty DataFrame
Columns: [Food, Food Type, Calories, Grams, Protein, Fat, Fiber, Carbs]
Index: []

In [14]:
food[food["Protein"]<0]

,Food,Food Type,Calories,Grams,Protein,Fat,Fiber,Carbs
7,"skim, non-instant",Dairy,292.0,73.0,-30.0,0.0,1.0,42.0
113,French-fried,Vegetables,140.6,26.4,-1.0,7.0,0.4,20.0

In [15]:
food.loc[7,"Protein"]=food.loc[7,"Protein"]*-1
food.loc[113,"Protein"]=food.loc[113,"Protein"]*-1

In [16]:
food[food["Fat"]>250]

           Food       Food Type  Calories  Grams  Protein    Fat  Fiber  Carbs
14      Cheddar           Dairy      70.0   10.0      4.0  470.0    0.0    0.0
212  Roast beef  Meat & Poultry     388.0   52.0     16.0  360.0    0.0    0.0

In [17]:
food[food["Fat"]<0]

          Food Food Type  Calories  Grams  Protein  Fat  Fiber  Carbs
44  Wheat germ    Grains     277.0   60.5     17.0 -7.0    2.5   34.0

In [18]:
food.loc[14,"Fat"]=6
food.loc[212,"Fat"]=36
food.loc[44,"Fat"]=food.loc[44,"Fat"]*-1

In [19]:
food[food["Fiber"]>250]

Empty DataFrame
Columns: [Food, Food Type, Calories, Grams, Protein, Fat, Fiber, Carbs]
Index: []

In [20]:
food[food["Fiber"]<0]

Empty DataFrame
Columns: [Food, Food Type, Calories, Grams, Protein, Fat, Fiber, Carbs]
Index: []

In [21]:
food[food["Carbs"]>250]

Empty DataFrame
Columns: [Food, Food Type, Calories, Grams, Protein, Fat, Fiber, Carbs]
Index: []

In [22]:
food[food["Carbs"]<0]

        Food   Food Type  Calories  Grams  Protein  Fat  Fiber  Carbs
36    Farina      Grains     132.0   33.0      3.0  0.0    8.0  -22.0
81  Collards  Vegetables      60.0   15.0      5.0  0.0    2.0   -8.0

In [23]:
food.loc[36,"Carbs"]=food.loc[36,"Carbs"]*-1
food.loc[81,"Carbs"]=food.loc[81,"Carbs"]*-1

# 5. Fill in null values

In [24]:
food.isna().sum()

Food         0
Food Type    0
Calories     0
Grams        0
Protein      2
Fat          3
Fiber        1
Carbs        1
dtype: int64

In [25]:
food[food["Protein"].isna()]

,Food,Food Type,Calories,Grams,Protein,Fat,Fiber,Carbs
6,"skim, instant",Dairy,288.0,72.0,NaN,0.0,0.0,42.0
111,Peppers with beef and crumbs,Vegetables,257.0,53.0,NaN,9.0,1.0,24.0

In [26]:
food.loc[6,"Protein"]=food.loc[6,"Grams"]-food.loc[6,"Fat"]-food.loc[6,"Fiber"]-food.loc[6,"Carbs"]
food.loc[111,"Protein"]=food.loc[111,"Grams"]-food.loc[111,"Fat"]-food.loc[111,"Fiber"]-food.loc[111,"Carbs"]

In [27]:
food[food["Fat"].isna()]

,Food,Food Type,Calories,Grams,Protein,Fat,Fiber,Carbs
84,Cucumbers,Vegetables,4.8,1.2,0.0,NaN,0.2,1.0
193,Flounder,insert_category_here,192.0,38.0,30.0,NaN,0.0,0.0
215,Corned beef,Meat & Poultry,178.0,32.0,22.0,NaN,0.0,0.0

In [28]:
food.loc[84,"Fat"]=food.loc[84,"Grams"]-food.loc[84,"Protein"]-food.loc[84,"Fiber"]-food.loc[84,"Carbs"]
food.loc[193,"Fat"]=food.loc[193,"Grams"]-food.loc[193,"Protein"]-food.loc[193,"Fiber"]-food.loc[193,"Carbs"]
food.loc[215,"Fat"]=food.loc[215,"Grams"]-food.loc[215,"Protein"]-food.loc[215,"Fiber"]-food.loc[215,"Carbs"]

In [29]:
food[food["Fiber"].isna()]

          Food   Food Type  Calories  Grams  Protein  Fat  Fiber  Carbs
66  Red kidney  Vegetables     247.0   60.5     15.0  1.0    NaN   42.0

In [30]:
food.loc[66,"Fiber"]=food.loc[66,"Grams"]-food.loc[66,"Protein"]-food.loc[66,"Fat"]-food.loc[66,"Carbs"]

In [31]:
food[food["Carbs"].isna()]

        Food   Food Type  Calories  Grams  Protein  Fat  Fiber  Carbs
92  Kohlrabi  Vegetables      50.0   12.5      2.0  0.0    1.5    NaN

In [32]:
food.loc[92,"Carbs"]=food.loc[92,"Grams"]-food.loc[92,"Protein"]-food.loc[92,"Fat"]-food.loc[92,"Fiber"]

# 6. Remove duplicate values

In [33]:
food[food.duplicated()]

        Food   Food Type  Calories  Grams  Protein  Fat  Fiber  Carbs
87  Eggplant  Vegetables      48.0   12.0      2.0  0.0    1.0    9.0
88  Eggplant  Vegetables      48.0   12.0      2.0  0.0    1.0    9.0
89  Eggplant  Vegetables      48.0   12.0      2.0  0.0    1.0    9.0

In [34]:
food.drop_duplicates(inplace=True)
food.reset_index(inplace=True,drop=True)
food[food.duplicated()]

Empty DataFrame
Columns: [Food, Food Type, Calories, Grams, Protein, Fat, Fiber, Carbs]
Index: []

# 7. Resolve categorical data errors

In [35]:
food["Food Type"].value_counts()

Vegetables              70
Fruits                  56
Meat & Poultry          27
Grains                  20
Dairy                   18
Seafood                 16
Nuts                    12
Soup                     9
Oils & Fats              5
Eggs                     3
Drairy                   1
Fruit                    1
insert_category_here     1
Mreat & Poultry          1
Oil & Fats               1
Name: Food Type, dtype: int64

In [36]:
print(food.to_string())

                                       Food             Food Type  Calories   Grams  Protein    Fat  Fiber  Carbs
0                                Cows' milk                 Dairy    680.00  120.00     32.0   40.0   0.00   48.0
1                                 Milk skim                 Dairy    352.00   88.00     36.0    0.0   0.00   52.0
2                                Buttermilk                 Dairy    133.00   27.00      9.0    5.0   0.00   13.0
3                     Evaporated, undiluted                 Dairy    340.00   60.00     16.0   20.0   0.00   24.0
4                            Fortified milk                 Dairy   1215.60  251.40     89.0   42.0   1.40  119.0
5                             Powdered milk                 Dairy    516.00   94.00     27.0   28.0   0.00   39.0
6                             skim, instant                 Dairy    288.00   72.00     30.0    0.0   0.00   42.0
7                         skim, non-instant                 Dairy    292.00   73.00     30.0    0.0   1.00   42.0
8                               Goats' milk                 Dairy    166.00   29.00      8.0   10.0   0.00   11.0
9                                Skim. milk                 Dairy    164.00   36.00     18.0    4.0   1.00   13.0
10                               Cornstarch                 Dairy    286.00   59.00      9.0   10.0   0.00   40.0
11                                 Ice milk                 Dairy    254.00   51.00      9.0   10.0   0.00   32.0
12                                   Cheese                 Dairy    243.00   47.00     30.0   11.0   0.00    6.0
13                                uncreamed                 Dairy    176.00   44.00     38.0    0.0   0.00    6.0
14                                  Cheddar                 Dairy     70.00   10.00      4.0    6.0   0.00    0.0
15                      Cheddar, grated cup                Drairy    231.00   34.00     14.0   19.0   0.00    1.0
16                             Cream cheese                 Dairy    111.00   14.00      2.0   11.0   0.00    1.0
17                           Roquefort type                 Dairy    105.00   15.00      6.0    9.0   0.00    0.0
18                                    Swiss                 Dairy    100.00   15.00      7.0    8.0   0.00    0.0
19                               Bean soups                  Soup    199.40   43.60      8.0    5.0   0.60   30.0
20                                Beef soup                  Soup    106.00   21.50      6.0    4.0   0.50   11.0
21                                 Bouillon                  Soup     20.00    5.00      5.0    0.0   0.00    0.0
22                             chicken soup                  Soup     74.00   16.00      4.0    2.0   0.00   10.0
23                             Clam chowder                  Soup     88.00   19.50      5.0    2.0   0.50   12.0
24                              Cream soups                  Soup    212.80   38.20      7.0   12.0   1.20   18.0
25                           Split-pea soup                  Soup    161.00   36.50      8.0    3.0   0.50   25.0
26                              Tomato soup                  Soup    177.00   35.50      6.0    7.0   0.50   22.0
27                                Vegetable                  Soup     90.00   20.00      4.0    2.0   0.00   14.0
28                              Bran flakes                Grains    140.40   35.10      3.0    0.0   0.10   32.0
29                     Bread, cracked wheat                Grains     65.40   15.10      2.0    1.0   0.10   12.0
30                                      Rye                Grains     65.40   15.10      2.0    1.0   0.10   12.0
31                          Rye whole-wheat                Grains   1452.00  345.50     48.0   14.0  67.50  216.0
32                    Rye whole-wheat slice                Grains     62.24   14.31      2.0    1.0   0.31   11.0
33                   Corn bread ground meal                Grains    109.20   22.30      3.0    4.0   0.30   15.0
34                        Corn grits cooked                Grains    140.80   35.20      8.0    0.0   0.20   27.0
35                                Corn meal                Grains    374.40   88.60      9.0    4.0   1.60   74.0
36                                   Farina                Grains    132.00   33.00      3.0    0.0   8.00   22.0
37                                    Flour                Grains    497.60   96.90     39.0   22.0   2.90   33.0
38                      Wheat (all purpose)                Grains    394.20   97.30     12.0    1.0   0.30   84.0
39                            Wheat (whole)                Grains    397.20   96.80     13.0    2.0   2.80   79.0
40                                  Oatmeal                Grains    169.40   38.60      5.0    3.0   4.60   26.0
41                                     Rice                Grains    707.80  173.20     15.0    3.0   1.20  154.0
42                              Rice flakes                Grains    112.40   28.10      2.0    0.0   0.10   26.0
43                              Rice polish                Grains    194.80   41.20      6.0    6.0   1.20   28.0
44                               Wheat germ                Grains    277.00   60.50     17.0    7.0   2.50   34.0
45                Wheat-germ cereal toasted                Grains    297.00   65.50     20.0    7.0   2.50   36.0
46              Wheat meal cereal unrefined                Grains    127.80   30.70      4.0    1.0   0.70   25.0
47                            Wheat, cooked                Grains    214.60   52.40     12.0    1.0   4.40   35.0
48                                  Almonds                  Nuts    453.20   65.80     13.0   38.0   1.80   13.0
49                       roasted and salted                  Nuts    471.20   67.80     13.0   40.0   1.80   13.0
50                              Brazil nuts                  Nuts    499.00   66.00     10.0   47.0   2.00    7.0
51                                  Cashews                  Nuts    419.60   64.90     12.0   32.0   0.90   20.0
52                        coconut sweetened                  Nuts    296.00   49.00      1.0   20.0   2.00   26.0
53                            Peanut butter                  Nuts    312.60   46.90     12.0   25.0   0.90    9.0
54                   Peanut butter, natural                  Nuts    303.60   45.90     13.0   24.0   0.90    8.0
55                                  Peanuts                  Nuts    317.80   48.20     13.0   25.0   1.20    9.0
56                                   Pecans                  Nuts    367.40   48.10      5.0   35.0   1.10    7.0
57                             Sesame seeds                  Nuts    304.40   46.10      9.0   24.0   3.10   10.0
58                          Sunflower seeds                  Nuts    329.60   49.90     12.0   26.0   1.90   10.0
59                                  Walnuts                  Nuts    352.00   48.00      7.0   32.0   1.00    8.0
60                                Artichoke            Vegetables     56.00   14.00      2.0    0.0   2.00   10.0
61                                Asparagus            Vegetables     18.00    4.50      1.0    0.0   0.50    3.0
62                                    Beans            Vegetables     31.20    7.80      1.0    0.0   0.80    6.0
63                                     Lima            Vegetables    140.00   35.00      8.0    0.0   3.00   24.0
64                        Lima, dry, cooked            Vegetables    264.00   66.00     16.0    0.0   2.00   48.0
65                    Navy, baked with pork            Vegetables    254.00   56.00     11.0    6.0   2.00   37.0
66                               Red kidney            Vegetables    247.00   60.50     15.0    1.0   2.50   42.0
67                             Bean sprouts            Vegetables     17.20    4.30      1.0    0.0   0.30    3.0
68                              Beet greens            Vegetables     37.60    9.40      2.0    0.0   1.40    6.0
69                                Beetroots            Vegetables     51.20   12.80     12.0    0.0   0.00    0.8
70                                 Broccoli            Vegetables     59.60   14.90      5.0    0.0   1.90    8.0
71                         Brussels sprouts            Vegetables     78.80   19.70      6.0    0.0   1.70   12.0
72                               Sauerkraut            Vegetables     36.80    9.20      1.0    0.0   1.20    7.0
73                          Steamed cabbage            Vegetables     50.00   12.30      2.0    0.0   1.50    9.0
74                                  Carrots            Vegetables     47.60   11.90      1.0    0.0   0.90   10.0
75                              Raw, grated            Vegetables     48.80   12.20      1.0    0.0   1.20   10.0
76                         Strips, from raw            Vegetables     22.00    5.50      0.0    0.0   0.50    5.0
77                              Cauliflower            Vegetables     40.00   10.00      3.0    0.0   1.00    6.0
78                                   Celery            Vegetables     24.00    6.00      1.0    0.0   1.00    4.0
79                                Stalk raw            Vegetables      9.20    2.30      1.0    0.0   0.30    1.0
80                            Chard steamed            Vegetables     41.60   10.40      2.0    0.0   1.40    7.0
81                                 Collards            Vegetables     60.00   15.00      5.0    0.0   2.00    8.0
82                                     Corn            Vegetables    108.20   25.80      3.0    1.0   0.80   21.0
83                         cooked or canned            Vegetables    190.40   47.60      5.0    0.0   1.60   41.0
84                                Cucumbers            Vegetables      4.80    1.20      0.0    0.0   0.20    1.0
85                         Dandelion greens            Vegetables    105.80   25.20      5.0    1.0   3.20   16.0
86                                 Eggplant            Vegetables     48.00   12.00      2.0    0.0   1.00    9.0
87                                   Endive            Vegetables     14.40    3.60      1.0    0.0   0.60    2.0
88                                     Kale            Vegetables     60.60   13.90      4.0    1.0   0.90    8.0
89                                 Kohlrabi            Vegetables     50.00   12.50      2.0    0.0   1.50    9.0
90                  Lambs quarters, steamed            Vegetables     60.80   15.20      5.0    0.0   3.20    7.0
91                                  Lentils            Vegetables    221.60   55.40     15.0    0.0   2.40   38.0
92                                  Lettuce            Vegetables     14.00    3.50      1.0    0.0   0.50    2.0
93                                  Iceberg            Vegetables     14.00    3.50      0.0    0.0   0.50    3.0
94                         Mushrooms canned            Vegetables     24.00    6.00      2.0    0.0   0.00    4.0
95                           Mustard greens            Vegetables     40.80   10.20      3.0    0.0   1.20    6.0
96                                     Okra            Vegetables     36.00    9.00      1.0    0.0   1.00    7.0
97                                   Onions            Vegetables     86.40   21.60      2.0    0.0   1.60   18.0
98                               Raw, green            Vegetables     24.00    6.00      0.0    0.0   1.00    5.0
99                                  Parsley            Vegetables      0.00    0.00      0.0    0.0   0.00    0.0
100                                Parsnips            Vegetables    117.00   28.00      2.0    1.0   3.00   22.0
101                                    Peas            Vegetables     64.40   16.10      3.0    0.0   0.10   13.0
102                     Fresh, steamed peas            Vegetables     76.80   19.20      5.0    0.0   2.20   12.0
103                             Frozen peas            Vegetables     75.20   18.80      5.0    0.0   1.80   12.0
104                       Split cooked peas            Vegetables    117.60   29.40      8.0    0.0   0.40   21.0
105                             heated peas            Vegetables     56.00   14.00      3.0    0.0   1.00   10.0
106                          Peppers canned            Vegetables      8.00    2.00      0.0    0.0   0.00    2.0
107               Peppers Raw, green, sweet            Vegetables     33.60    8.40      1.0    0.0   1.40    6.0
108            Peppers with beef and crumbs            Vegetables    257.00   53.00     19.0    9.0   1.00   24.0
109                         Potatoes, baked            Vegetables     98.00   24.50      2.0    0.0   0.50   22.0
110                            French-fried            Vegetables    140.60   26.40      1.0    7.0   0.40   20.0
111    Potatoes Mashed with milk and butter            Vegetables    238.80   44.70      4.0   12.0   0.70   28.0
112                     Potatoes, pan-tried            Vegetables    275.60   51.40      4.0   14.0   0.40   33.0
113          Scalloped with cheese potatoes            Vegetables    153.60   28.40      6.0    8.0   0.40   14.0
114         Steamed potatoes before peeling            Vegetables     85.60   21.40      2.0    0.0   0.40   19.0
115                            Potato chips            Vegetables    107.00   18.00      1.0    7.0   0.00   10.0
116                                Radishes            Vegetables      9.20    2.30      0.0    0.0   0.30    2.0
117                               Rutabagas            Vegetables     37.60    9.40      0.0    0.0   1.40    8.0
118                                Soybeans            Vegetables    279.80   56.20     22.0   11.0   3.20   20.0
119                                 Spinach            Vegetables     28.00    7.00      3.0    0.0   1.00    3.0
120                                  Squash            Vegetables     38.40    9.60      1.0    0.0   0.60    8.0
121                          Winter, mashed            Vegetables    118.40   29.60      4.0    0.0   2.60   23.0
122                          Sweet potatoes            Vegetables    165.00   40.00      2.0    1.0   1.00   36.0
123                                 Candied            Vegetables    388.00   89.50      2.0    6.0   1.50   80.0
124                                Tomatoes            Vegetables     48.00   12.00      2.0    0.0   1.00    9.0
125                            Tomato juice            Vegetables     50.40   12.60      2.0    0.0   0.60   10.0
126                           Tomato catsup            Vegetables     16.00    4.00      0.0    0.0   0.00    4.0
127                           Turnip greens            Vegetables     64.20   14.80      4.0    1.0   1.80    8.0
128                        Turnips, steamed            Vegetables     47.20   11.80      1.0    0.0   1.80    9.0
129                   Watercress stems, raw            Vegetables      9.20    2.30      1.0    0.0   0.30    1.0
130                      Apple juice canned                 Fruit    136.00   34.00      0.0    0.0   0.00   34.0
131                           Apple vinegar                Fruits     12.00    3.00      0.0    0.0   0.00    3.0
132                             Apples, raw                Fruits     76.00   19.00      0.0    0.0   1.00   18.0
133                        Stewed or canned                Fruits    112.00   28.00      0.0    0.0   2.00   26.0
134                                Apricots                Fruits    240.00   60.00      2.0    0.0   1.00   57.0
135                         Dried, uncooked                Fruits    220.00   55.00      4.0    0.0   1.00   50.0
136                                   Fresh                Fruits     62.80   15.70      1.0    0.0   0.70   14.0
137                        Nectar, or juice                Fruits    156.00   39.00      1.0    0.0   2.00   36.0
138                                 Avocado                Fruits    201.20   27.80      2.0   18.0   1.80    6.0
139                                  Banana                Fruits     99.60   24.90      1.0    0.0   0.90   23.0
140                            Blackberries                Fruits    119.40   28.60      2.0    1.0   6.60   19.0
141                             Blueberries                Fruits    272.00   68.00      1.0    0.0   2.00   65.0
142                              Cantaloupe                Fruits     48.80   12.20      1.0    0.0   2.20    9.0
143                                Cherries                Fruits    129.00   31.00      2.0    1.0   2.00   26.0
144                     Fresh, raw cherries                Fruits     67.20   16.80      1.0    0.0   0.80   15.0
145               Cranberry sauce sweetened                Fruits    572.80  143.20      0.0    0.0   1.20  142.0
146                                   Dates                Fruits    566.40  141.60      4.0    0.0   3.60  134.0
147                                    Figs                Fruits    135.60   33.90      2.0    0.0   1.90   30.0
148                         Fresh, raw figs                Fruits    100.00   25.00      2.0    0.0   1.00   22.0
149                 figs Canned with syrup                 Fruits    136.00   34.00      1.0    0.0   1.00   32.0
150                  Fruit cocktail, canned                Fruits    206.00   51.50      1.0    0.0   0.50   50.0
151                     Grapefruit sections                Fruits    182.00   45.50      1.0    0.0   0.50   44.0
152          Grapefruit, fresh, 5" diameter                Fruits     64.00   16.00      1.0    0.0   1.00   14.0
153                        Grapefruit juice                Fruits    104.00   26.00      1.0    0.0   1.00   24.0
154                                  Grapes                Fruits     71.20   17.80      1.0    0.0   0.80   16.0
155              European, as Muscat, Tokay                Fruits    110.80   27.70      1.0    0.0   0.70   26.0
156                             Grape juice                Fruits    172.00   43.00      1.0    0.0   0.00   42.0
157                             Lemon juice                Fruits     40.00   10.00      0.0    0.0   0.00   10.0
158              Lemonade concentratefrozen                Fruits    448.00  112.00      0.0    0.0   0.00  112.0
159              Limeade concentrate frozen                Fruits    432.00  108.00      0.0    0.0   0.00  108.0
160                            Olives large                Fruits    109.20   14.80      1.0   10.0   0.80    3.0
161                              OlivesRipe                Fruits    129.00   16.00      1.0   13.0   1.00    1.0
162                     Oranges 3" diameter                Fruits     76.00   19.00      2.0    0.0   1.00   16.0
163                            Orange juice                Fruits    108.80   27.20      2.0    0.0   0.20   25.0
164                                 Frozen                 Fruits    321.60   80.40      2.0    0.0   0.40   78.0
165                                  Papaya                Fruits     83.20   20.80      1.0    0.0   1.80   18.0
166                                 Peaches                Fruits    216.00   54.00      1.0    0.0   1.00   52.0
167                      Fresh, raw peaches                Fruits     46.40   11.60      1.0    0.0   0.60   10.0
168                                   Pears                Fruits    212.00   53.00      1.0    0.0   2.00   50.0
169                            Raw, 3 by 2V                Fruits    121.00   29.00      1.0    1.0   2.00   25.0
170                              Persimmons                Fruits     92.00   23.00      1.0    0.0   2.00   20.0
171                               Pineapple                Fruits    105.60   26.40      0.0    0.0   0.40   26.0
172                       Pineapple Crushed                Fruits    226.80   56.70      1.0    0.0   0.70   55.0
173                              Raw, diced                Fruits     82.40   20.60      1.0    0.0   0.60   19.0

In [37]:
replacements={
    "Drairy":"Dairy",
    "Fruit":"Fruits",
    "Mreat & Poultry":"Meat & Poultry",
    "Oil & Fats":"Oils & Fats",
    "insert_category_here":"Seafood"
}
food=food.replace(replacements)
food["Food Type"].value_counts()

Vegetables        70
Fruits            57
Meat & Poultry    28
Grains            20
Dairy             19
Seafood           17
Nuts              12
Soup               9
Oils & Fats        6
Eggs               3
Name: Food Type, dtype: int64

# 8. Remove inconsistencies

In [38]:
incorrect_calories =(
    (
    round(food["Calories"]-((food["Protein"]+food["Fiber"]+food["Carbs"])*4)-(food["Fat"]*9),1)
    )
    !=0
)
food[incorrect_calories]

,Food,Food Type,Calories,Grams,Protein,Fat,Fiber,Carbs
110,French-fried,Vegetables,140.6,26.4,1.0,7.0,0.4,20.0
224,Ham pan-broiled,Meat & Poultry,242.0,38.0,16.0,22.0,0.0,0.0

In [39]:
food["Calories"]=((food["Protein"]+food["Fiber"]+food["Carbs"])*4)+(food["Fat"]*9)

In [40]:
incorrect_calories =(
    (
    round(food["Calories"]-((food["Protein"]+food["Fiber"]+food["Carbs"])*4)-(food["Fat"]*9),1)
    )
    !=0
)
food[incorrect_calories]

Empty DataFrame
Columns: [Food, Food Type, Calories, Grams, Protein, Fat, Fiber, Carbs]
Index: []

# 9. Output data in the required format

In [41]:
food.to_csv("cleaned_food.csv")